*.lo
*.la
*.o
*.oo
*.so
*.d
*.dd
*.a
Makefile
.libs
.deps
.dirstamp
build-stamp
config.h
config.log
config.status
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/iptables-dev/
debian/iptables/
debian/tmp/
extensions/GNUmakefile
extensions/initext4.c
extensions/initext6.c
extensions/matches4.man
extensions/matches6.man
extensions/targets4.man
extensions/targets6.man
include/iptables/internal.h
include/xtables.h
ip6tables-multi
ip6tables.8
iptables-multi
iptables.8
libiptc.pc
libtool
stamp-h1
xtables.pc
